<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>331645769387-4hq79jdcvpm21is45nr2h419g4iia62t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331645769387-4hq79jdcvpm21is45nr2h419g4iia62t</string>
	<key>API_KEY</key>
	<string>AIzaSyAhZUxu7YCp392ATCEQuEfC9QbcPFr3_LM</string>
	<key>GCM_SENDER_ID</key>
	<string>331645769387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BW.BuzzMovie</string>
	<key>PROJECT_ID</key>
	<string>deeknutssquad</string>
	<key>STORAGE_BUCKET</key>
	<string>deeknutssquad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:331645769387:ios:487839017cb7b865</string>
	<key>DATABASE_URL</key>
	<string>https://deeknutssquad.firebaseio.com</string>
</dict>
</plist>